label.category div {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 1px;
}

label.category div:hover {
  border: 1px solid white;
  outline: none;
  margin: 0px;
}

label.category div[data-checked="true"] {
  background-color: #3730a3;
  border: 1px solid white;
  margin: 0px;
}
