@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #adadad;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  background-color: black;
  color: white;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 21px;
}

a:not([href="/"], :has(button)) {
  text-decoration-line: none;
}

.text {
  white-space-collapse: preserve-breaks;
}

input[type="radio"] {
  border: 0px;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  cursor: pointer;
}
