@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: black;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 21px;
}

input[type="text"],
input[type="number"],
textarea {
  color: black;
  padding: 4px;
  border-radius: 4px;
}

a:not([href="/"], :has(button)) {
  text-decoration: dotted;
  text-decoration-line: underline;
}

.text {
  white-space-collapse: preserve-breaks;
}
