@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #adadad;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  background-color: black;
  color: white;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 21px;
}

a:not([href="/"], :has(button)) {
  text-decoration-line: none;
}

.text {
  white-space-collapse: preserve-breaks;
}
